doctype html
html
  head
    title= title
    meta(charset='utf-8')
  body
    audio(loop style="display:none" id="bgc-sound")
      source(src="../sounds/space-sound.mp3")
    audio(data-blast)="Your browser do not support HTML 5 audio tag"
      source(type="audio/mpeg" src='../sounds/blast.mp3')
    audio(data-click)="Your browser do not support HTML 5 audio tag"
      source(type="audio/mpeg" src='../sounds/click.mp3')
    audio(data-destroyer-blast)="Your browser do not support HTML 5 audio tag"
      source(type="audio/mpeg" src='../sounds/destroyer-blast.mp3')
    audio(data-mine-explosion)="Your browser do not support HTML 5 audio tag"
      source(type="audio/mpeg" src='../sounds/mine-explosion.mp3')
      

block content
 