extends layout


block content 
   .container
     .shop
       h1="Your resources: "
         span(class="wallet")=""
       .shop__content
         .current-spaceship
           img(src="", alt="ship" data-spaceship-model) 
         section(class='shop__section')
           ul(class="list")
             li(class="list__element--shop" data-product="destroyer_missle")
               img(src="../skk/ll", alt="bullet" )
               .option--shop
                 p="Destroyer missle"
               button(class="btn" data-price=destroyer_missle_price)="buy"
               button(class="btn" data-info="destroyer_missle")="info"
             li(class="list__element--shop" data-product="space_mine")
               img(src="../skk/ll", alt="space mine" )
               .option--shop
                 p="Space mines"
               button(class="btn" data-price=space_mine_price)="buy"
               button(class="btn" data-info="space_mine")="info"
         section(class='shop__section--big')
           ul(class="list")
             li(class="list__element--shop" data-product="spaceship_small")
               img(src="../skk/ll", alt="spaceship" )
               label(class="option--shop")
                 input(type="checkbox" data-checkbox data-setting="spaceship_model" data-value='spaceship_small')
                 span(class="checkmark")
                 p="Spaceship small"
               button(class="btn" data-price="0")="buy"
               button(class="btn" data-info="spaceship_small")="info"
             li(class="list__element--shop" data-product="spaceship_big")
               img(src="../skk/ll", alt="spaceship" )
               label(class="option--shop")
                 input(type="checkbox" data-checkbox data-setting="spaceship_model" data-value='spaceship_big' )
                 span(class="checkmark")
                 p="Spaceship Big"
               button(class="btn" data-price=spaceship_big_price)="buy"
               button(class="btn" data-info="spaceship_big")="info"
             li(class="list__element--shop" data-product="spaceship_medium")
               img(src="../skk/ll", alt="spaceship")
               label(class="option--shop")
                 input(type="checkbox" data-checkbox data-setting="spaceship_model" data-value='spaceship_medium' )
                 span(class="checkmark")
                 p="Spaceship medium"
               button(class="btn" data-price=spaceship_medium_price)="buy"
               button(class="btn" data-info="spaceship_medium")="info"
         button(class="btn-nav" data-href='/game')='Play ➧'
         button(class="btn-nav" data-href='/')='Back ↺'
   script(src="http://localhost:5000/public/dist/bundle.js")

               
             
