extends layout  


block content
  .container
    .start
      h1= "Spaceship game"
      div(class="slider")
        div(class="slider__prev" data-value="-1")= "❮"
        div(class="slider__next" data-value="1")= "❯"
        div(class="slider__content fade")
          img(src="./images/slider/first_slide/spaceship_medium_blue.png", alt="spaceship")
          img(src="./images/slider/first_slide/space_bomb_blue.png", alt="space-bomb")
          img(src="./images/slider/first_slide/spaceship_big_red.png", alt="spaceship")
          img(src="./images/slider/first_slide/mothership_red.png", alt="spaceship")
        div(class="slider__content")
          img(src="./images/slider/second_slide/space_mine.png", alt="space mine")
          img(src="./images/slider/second_slide/spaceship_big_blue.png", alt="spaceship")
          img(src="./images/slider/second_slide/spaceship_medium_red.png", alt="spaceship")
          img(src="./images/slider/second_slide/mothership_blue.png", alt="spaceship")
        div(class="slider__content")
          img(src="./images/slider/third_slide/space_bomb_red.png", alt="space bomb")
          img(src="./images/slider/third_slide/mine.png", alt="space mine")
          img(src="./images/slider/third_slide/spaceship_big_red.png", alt="spaceship")
          img(src="./images/slider/third_slide/spaceship_small_red.png", alt="spaceship")
        div(class="slider__dots")
          span(class="dot active" data-dot="0") 
          span(class="dot" data-dot="1") 
          span(class="dot" data-dot="2") 
      nav(class="nav")
        ul(class="list")
          li(class="list__element")
            button(class="btn-nav" data-href='/shop')= "start game ➧" 
          li(class="list__element")
            button(class="btn-nav" data-href='/info')= "info ➧"  
          li(class="list__element")
            button(class="btn-nav" data-href='settings')= "settings ⚙"
      
            

