extends layout  


block content
  .container
    .start
      h1= "Spaceship game"
      div(class="slider")
        div(class="slider__prev" data-value="-1")= "❮"
        div(class="slider__next" data-value="1")= "❯"
        div(class="slider__content fade")
          img(src="./images/base/space_bomb_blue.png", alt="space-bomb")
          img(src="./images/base/spaceship_big_red.png", alt="spaceship")
          img(src="./images/base/spaceship_medium_blue.png", alt="spaceship")
          img(src="./images/base/mothership_red.png", alt="spaceship")
        div(class="slider__content")
          img(src="./images/base/spaceship_big_blue.png", alt="spaceship")
          img(src="./images/base/spaceship_medium_red.png", alt="spaceship")
          img(src="./images/base/space_mine_red.png", alt="space mine")
          img(src="./images/base/mothership_blue.png", alt="spaceship")
        div(class="slider__content")
          img(src="./images/base/space_bomb_red.png", alt="space bomb")
          img(src="./images/base/space_mine_blue.png", alt="space mine")
          img(src="./images/base/spaceship_big_red.png", alt="spaceship")
          img(src="./images/base/spaceship_small_red.png", alt="spaceship")
        div(class="slider__dots")
          span(class="dot active" data-dot="0") 
          span(class="dot" data-dot="1") 
          span(class="dot" data-dot="2") 
      nav(class="nav")
        ul(class="list")
          li(class="list__element")
            button(class="btn-nav" data-href='/game/shop')= "start game ➧" 
          li(class="list__element")
            button(class="btn-nav" data-href='/info')= "info ➧"  
          li(class="list__element")
            button(class="btn-nav" data-href='settings')= "settings ⚙"
  script(src="http://localhost:5000/public/dist/bundle.js")  
      
            

